.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    margin: 0%;
    padding: 0%;
    gap: 0%;
}

.banner {
    background-image: url(Assets/Hero-bg.png);
    margin-top: 0%;
    padding-top: 0%;
    gap: 0%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 34px;
    padding: 50px;
    color: #4E47FF;
    border-radius: 10px;
    font-weight: bolder;
    gap: 909px;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}



button {
    background-color: #4E47FF;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
}

button a {
    background-color: #4E47FF;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    align-content: center;
    border-top: 0%;

}

.title {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 116px;
    font-size: 65px;
    font-weight: bold;
    padding: 20px;
    color: #252432;
    line-height: auto;

}

.middle-section {
    display: flex;
    justify-content: space-around;
    margin-top: 116px;
    margin-bottom: 100px;
    padding: 141px;
}

.main {
    font-size: 42px;
    font-weight: bold;
    color: #252432;


}

.description {
    font-size: 24px;
    color: #252432;
    width: 70%;
}

.second-image {
    border-radius: 48px;
}

.user-quantity {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    padding-top: 70px;
    color: #252432;
}

.users-quantity {
    background-color: rgba(99, 71, 255, 0.1);
    border-radius: 24px;
    margin: 150px;
}

.about-item {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.item-quantity {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    margin-bottom: 0px;
}

.item-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0%;
}